@use './src/scss/abstract' as *;

.header {
  background: $clr-white;

  .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  flex-wrap: wrap;
  }
}

.logo {
  font-size: 2.5rem;
  color: $clr-accent900;
}

.nav__wrapper {
  flex-basis: 100%;

  .search {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin-top: 2rem;
  }

  .search__input {
    width: 50%;
    flex-grow: 1;
    border-radius: 0;
    padding: .5em;
    border: 1px solid lightgray;
    border-right: none;
  }

  .search__submit {
    min-width: max-content;
    width: 15%;
    background: $clr-accent900;
    color: $clr-white;
  }

  .nav__list {
    margin: 1em 0;
  }

  .nav__item {
    padding-bottom: .5em;
    position: relative;
    margin-bottom: 2rem;
    width: max-content;
  }

  .nav__item::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: $clr-pink900;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 200ms ease-out;
  }

  .nav__item:hover::before,
  .nav__item:focus::before {
    transform: scaleX(1);
  }

  .options__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .options__item {
    border: 1px solid $clr-darkgray;
    padding: .6em .8em;
    font-size: 1.3rem;
    background: $clr-accent900;
    color: $clr-white;
    border-radius: 8px;
  }

}
