
.section-starter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  
  .section-starter__title {
    font-size: 1.8rem;
  }
  
  .section-starter__btn {
    margin-left: .5rem;
  }
  