$clr-gray: hsl(0, 0%, 95%);
$clr-darkgray: hsl(0, 0%, 30%);
$clr-white: hsl(0, 0%, 100%);
$clr-white800: hsl(0, 0%, 95%);
$clr-white700: hsl(0, 0%, 95%);
$clr-accent900: hsl(0, 0%, 20%);
$clr-accent800: hsl(0, 0%, 33%);
$clr-pink900: hsl(353, 75%, 50%);